body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

aside {
    background-color: #1992D4;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboardTitle {
    font-size: large;
}

.dashboardNav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: large;
    padding: 10px;
}

.dashboardTop {
    min-height: 20%;
    flex: 0 0 auto;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}

.searchRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.padding {
    padding: 20px;
}

.searchBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    border-radius: 10px;
    width: 600px;
    height: 30px;
    background-color: lightgrey;
    border-color: transparent;
}

.searchBottomLeft {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-bottom: 60px;
}

#mainProfilePic {
    min-width: 75px;
    min-height: 75px;
    max-height: 75px;
}

.topButtons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 40px;
}
.topButton {
    background-color: #1992D4;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mainDashboard {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

.projects {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.dashboardGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 30% 30%;
    row-gap: 30px;
    margin-top: 5px;
}

.dashboardGrid > div {
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemPhoto {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.room {
    padding: 15px;
}



.sidebar {
    flex-basis: 25%;
}

.announcements {
    display: flex;
    flex-direction: column;

}
.announcementsBox {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.trendingBox {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

}

.trendingItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.profileStuff {
    padding-left: 25px;
}

@media screen and (max-width:1200px) {
    .dashboardGrid {
        display: grid;
        justify-content: left;
        align-items: left;
        grid-template-columns: 45%;
        grid-template-rows: 15% 15% 15% 15% 15% 15%;
        row-gap: 30px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .projects {
        max-width: 700px;
    }
}